<div class="container">

  <h1> Account <%= id %></h1>


  <h2> Saldo: </h2>
  <p class="well well-lg lead">
    R$ <%= typeof(balance) != "undefined" ? balance : 0.0 %>
  </p>

  <script type="text/javascript">
  function OnSubmitForm(){
    accountId = <%= id%> ;
    if(typeof(accountId) == "undefined"){
      console.log("id is undefined.");
      return false;
    }

    console.log("id is: " + accountId);
    document.accountform.action = "/account/" + accountId;
    if(document.pressed == 'deposit'){//deposito
      document.accountform.action += "/deposit";
    }
    else if(document.pressed == 'withdraw'){ //saque
      document.accountform.action += "/withdraw";
    }
    return true;
  }
  </script>

  <form name="accountform" onsubmit="return OnSubmitForm();">

    <div class="input-group" >
      <input name="value" type="number" step="1.00" class="form-control" placeholder="0.0" method="POST">
      <button type="submit" class="btn btn-default btn-success" onclick="document.pressed='deposit';">
        <i class="fa fa-plus-circle fa-lg"> </i>
      </button>
      <button type="submit" class="btn btn-default btn-danger" onclick="document.pressed='withdraw';">
        <i class="fa fa-minus-circle fa-lg"> </i>
      </button>
    </div>

    <div class="input-group" >
      <input name="transfer-account" type="text" class="form-control" placeholder="Número da conta de destino">
      <button type="submit" class="btn btn-default btn-warning" onclick="document.pressed='transfer';">
        Transferência
      </button>
    </div>

  </form>


</div> <!-- end container !-->
