
<div class="container">

  <div class="row ">
      <div class="col-md-4">
        <h1> GCM Bank </h1>
          <div class="panel panel-default">
              <div class="panel-body">
                <h3> Entre na sua conta </h3>

                <form id="my-form" name="accountform" action="#" method="GET">

                    <div class="form-group">
                      <input id="accountNumber" type="text" class="form-control" placeholder="Número da conta">
                    </div>
                    <button type="submit" class="btn btn-default btn-primary"
                            onclick="submitForm()">
                        Fazer Login
                    </button>

                </form>
              </div>
          </div>

      </div>
  </div>


  <script type="text/javascript">

      function submitForm(){
          $form = $('#my-form');
          accId = $form.find('#accountNumber').val();
          $form.attr('action', '/account/' + accId);
          $form.submit();
      }

      function showMessage(){
          var myMessage = "";//
          if(myMessage){
              alert(myMessage);
          }
      }

      function enableTooltips(){
          $('[data-toggle="tooltip"]').tooltip();
      }

      $(document).ready(function(){
          showMessage();
          enableTooltips();
      });
  </script>
</div>
